NODE_ENV=development

#== APP
PORT=3001


#== DB
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

#== for generating kysely type
DATABASE_URL=


#== DB
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=

